body {

    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    margin: 0;
    padding: 20px;

}


img {

    margin-top: 10px;
    border-radius: 10px;

}


h1 {

    color: #1f4e79;
    font-size: 32px;

}


h2 {

    color: #333;

}


h3 {

    color: #555;

}



button {

    background-color: #1f4e79;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

}



button:hover {

    background-color: #163a5c;

}



input, select {

    width: 280px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;

}



table {

    background-color: white;
    border-collapse: collapse;
    margin-top: 20px;

}



th {

    background-color: #1f4e79;
    color: white;
    padding: 12px;

}



td {

    padding: 10px;
    border: 1px solid #ddd;

}



a {

    text-decoration: none;

}



#menu {

    margin-top: 30px;

}
